/***************************************************************
* global style for all cards
***************************************************************/
.cards>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-gap: 16px;
  width: 100%;
}

.cards>ul>li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: calc(33.33% - 12px);
  max-width: 305px;
  border: 1px solid var(--highlight-background-color);
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--background-color);
  transition: box-shadow 0.3s linear 0s;
}

li.card-with-link:hover {
  box-shadow: 0 2px 3px 0 rgb(0 47 109 / 21%), 0 2px 15px 0 rgb(0 47 109 / 15%);
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

@media screen and (max-width: 767px) {
  .cards ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cards>ul>li {
    width: 100%;
  }
}

.cards .cards-card-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.cards .cards-card-body>* {
  margin: 8px 0;
}

.cards .cards-card-body h5 {
  color: var(--clr-blue);
}

.cards .cards-card-body a {
  display: inline;
  padding: 0;
  border: none;
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: var(--letter-spacing-8);
  font-size: var(--heading-font-size-xs);
  background-color: transparent;
  color: #f77f00 !important;
}

/* style the link button in the card */
.cards .cards-card-body:hover a {
  text-decoration: underline;
  background-color: transparent;
}

.cards .cards-card-body a::after {
  content: "";
  background: url("/icons/icon-right-arrow.svg") bottom right/contain no-repeat;
  display: inline-block;
  margin-left: 3px;
  height: 0.6em !important;
  width: 7px !important;
}

.cards .cards-card-image {
  position: relative;
}

.cards .cards-card-image img {
  height: 100%;
}

/* curve over image bottom */
.cards li div:first-child::after {
  content: "";
  background: url('/icons/curve-after.png') no-repeat 0 0;
  background-size: cover;
  background-position: bottom;
  height: 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/***************************************************************
* ul > li
***************************************************************/

/* fill-width */
.cards.fill-width li {
  flex-direction: row;
  flex-grow: 1;
  max-width: unset;
  min-width: calc(50% - 9px);
}

@media screen and (max-width: 767px) {
  .cards.fill-width li {
    flex-direction: column;
    width: 100%;
    max-width: 469px;
  }
}

.cards.fill-width li div:first-child::after {
  all: unset;
}

/* "software" variant */
.cards.software ul {
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.cards.software li {
  justify-content: space-between;
}

.cards.software.image-70-30 li:first-child {
  flex-direction: row;
  width: 643px;
  max-width: 100%;
}

.cards.software.bottom-image li {
  width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  height: 402px;
}

@media screen and (max-width: 992px) {
  .cards.software.image-70-30 ul {
    flex-direction: column;
  }

  .cards.software.image-70-30 li {
    width: 100% !important;
    max-width: 100%;
  }

  .cards.software.image-70-30 li:first-child {
    min-height: 402px;
  }
}

@media screen and (max-width: 767px) {
  .cards.software li {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
  }

  .cards.software.image-70-30 li:first-child {
    flex-direction: column;
  }
}

/* "badge" variant */

.cards.badge ul {
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.cards.badge li {
  display: inline-flex;
  flex-direction: column;
  width: calc(25% - 16px);
  max-width: 275px;
}

@media screen and (max-width: 992px) {
  .cards.badge ul {
    flex-wrap: wrap;
    max-width: 582px;
  }

  .cards.badge li {
    width: calc(50% - 16px);
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .cards.badge ul {
    flex-direction: column;
    align-items: center;
  }

  .cards.badge li {
    width: 100%;
  }
}

/***************************************************************
* cards-card-body
***************************************************************/

/* "software" variant */
.cards.software.bottom-image .cards-card-body {
  padding: 50px 37px 12px 39px;
}

.cards.software.image-70-30 .cards-card-body {
  padding: 78px 37px 37px 39px;
}

.cards.software.image-70-30 li:first-child .cards-card-body {
  width: 50%;
}

.cards.software.image-70-30 li:nth-of-type(2) .cards-card-body {
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .cards.software.image-70-30 li:first-child .cards-card-body {
    width: 100%;
  }
}

.cards.software.image-70-30 li:nth-of-type(2) .cards-card-body h3 {
  font-size: var(--heading-font-size-xl);
  margin: 5px 0;
}

.cards.software p {
  margin: 5px 0;
}

.cards.software .cards-card-body a {
  font-size: var(--body-font-size-l);
}

.cards.software.bottom-image li:first-child .cards-card-body a {
  color: #78be20 !important;
}

.cards.software.bottom-image li:nth-of-type(2) .cards-card-body a {
  color: #871054 !important;
}

.cards.software.bottom-image li:first-child .cards-card-body a::after {
  background: url("/icons/icon-right-arrow-green.svg") bottom right/contain no-repeat;
}

.cards.software.bottom-image li:nth-of-type(2) .cards-card-body a::after {
  background: url("/icons/icon-right-arrow-red.svg") bottom right/contain no-repeat;
}

.cards.software.bottom-image .cards-card-body img {
  width: 270px;
}

.cards.software.image-70-30 li:first-child .cards-card-body img {
  width: 245px;
}

.cards.software.image-70-30 li:nth-of-type(2) .cards-card-body img {
  width: 123px;
}

/*  "badge" variant */

.cards.badge .cards-card-body {
  margin: 0;
  padding: 0;
  display: block;
}

.cards.badge .cards-card-body :is(h1, h2, h3, h4, h5, h6, p) {
  padding: 0 21px;
}

.cards.badge .cards-card-body a {
  text-decoration: none;
  font-family: var(--ff-myradpro-semibold);
  font-size: var(--body-font-size-xl);
  color: var(--text-color) !important;
}

.cards.badge .cards-card-body a::after {
  display: none;
}

.cards.badge .cards-card-body p {
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-15);
}

.cards.badge .cards-card-body p:first-child:has(code) {
  margin-top: 0;
  display: inline-block;
  max-width: calc(100% - 21px);
  border-bottom-right-radius: 15px;
  overflow: hidden;
  color: var(--clr-white);
  font-size: var(--heading-font-size-s);
  line-height: 36px;
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: var(--letter-spacing-72);
  background-color: var(--clr-blue);
}

/***************************************************************
* cards-card-image
***************************************************************/
.cards.software.image-70-30 .cards-card-image {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .cards.software.image-70-30 .cards-card-image {
    height: 79px;
    position: relative;
    left: -8%;
    width: 124%;
    display: inline-flex;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 50% 50% 0 0;
  }
}

.cards.badge .cards-card-image {
  padding: 21px 21px 0;
}

/***************************************************************
* special style for sections
***************************************************************/
.section.training h1 {
  color: #fff;
}

.section.training {
  background-image: linear-gradient(to bottom, #005ca6 -28%, #00306f 73%, #002f6d 100%);
}

.section.training::before {
  content: "";
  display: block;
  height: 8px;
  background-image: linear-gradient(to left, #871054, #78be20 53%, #f77f00 100%);
}

.section.stories, .section.news, .section.training {
  padding-bottom: 100px;
}

.section.stories .cards-wrapper,
.section.training .cards-wrapper,
.section.events .cards-wrapper,
.section.news .cards-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.section.stories .cards-wrapper {
  max-width: 1151px;
}

.section.events .cards-card-body h4 {
  max-width: 360px;
}

.section.events .cards-card-body a {
  font-size: var(--body-font-size-l);
}

.section.news .cards-card-body h4 {
  font-family: var(--ff-myradpro-regular);
}

.section.news .cards-card-body p {
  font-size: var(--body-font-size-s);
}

.section.news .cards-card-body a {
  font-size: var(--body-font-size-s);
}

/* below logic is for curve */
.section.events .cards-card-image {
  display: flex;
  width: 100%;
}

.section.events .cards-card-image picture {
  overflow: hidden;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
}

@media screen and (max-width: 767px) {
  .section.events .cards-card-image picture {
    border-top-right-radius: 0;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
}
