/***************************************************************
* global style for all cards
***************************************************************/
.cards h1,
.cards h2,
.cards h3,
.cards h4,
.cards h5,
.cards h6,
.cards a {
  font-family: var(--ff-myradpro-semibold);
}

.cards p {
  font-family: var(--ff-myradpro-regular);
}

.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  box-sizing: border-box;
}

.cards>ul>li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
  box-sizing: border-box;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body>*:first-child {
  margin-top: 0;
}

.cards .cards-card-body:hover a {
  text-decoration: underline;
}

li.card-with-link:hover {
  box-shadow: 0 2px 3px 0 rgb(0 47 109 / 21%), 0 2px 15px 0 rgb(0 47 109 / 15%);
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

/***************************************************************
* ul > li: "badge" variant
***************************************************************/
.cards.badge ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1151px;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 69px;
}

.cards.badge li {
  max-width: 275px;
  width: calc(25% - 16px);
  border: solid 1px #dad9d7;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 28px;
  background-color: var(--clr-white);
  transition: all 0.3s linear 0s;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .cards.badge ul {
    flex-wrap: wrap;
    max-width: 582px;
  }

  .cards.badge li {
    width: calc(50% - 16px);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .cards.badge ul {
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 24px;
  }

  .cards.badge li {
    width: 100%;
  }
}

/***************************************************************
* ul > li: "left-image" variant
***************************************************************/
.cards.left-image ul {
  display: flex;
}

.cards.left-image li {
  line-height: var(--line-height-15);
  display: flex;
  border-radius: 15px;
  border: solid 1px #dad9d7;
  background-color: var(--clr-white);
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: box-shadow 0.3s linear 0s;
}

@media screen and (max-width: 767px) {
  .cards.left-image li {
    flex-direction: column;
    max-width: 467px;
    margin: 0 auto;
  }
}

/***************************************************************
* ul > li: "no-image" variant
***************************************************************/
.cards.no-image ul {
  display: flex;
}

@media screen and (max-width: 767px) {
  .cards.no-image ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.cards.no-image li {
  line-height: var(--line-height-15);
  display: flex;
  border-radius: 15px;
  border: solid 1px #dad9d7;
  background-color: var(--clr-white);
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s linear 0s;
  width: calc(50% - 9px);
  height: auto;
}

@media screen and (max-width: 767px) {
  .cards.no-image li {
    max-width: 469px;
    width: 100%;
    margin-bottom: 20px;
  }
}

/***************************************************************
* cards-card-body: "badge" variant
***************************************************************/
.cards.badge .cards-card-body {
  margin: 0;
}

.cards.badge .cards-card-body h3 {
  background-color: var(--clr-blue);
  overflow: hidden;
  display: inline-block;
  border-bottom-right-radius: 15px;
  max-width: calc(100% - 21px);
  font-size: var(--heading-font-size-s);
  line-height: 36px;
  letter-spacing: var(--letter-spacing-72);
  padding: 0 26px 0 22px;
  color: var(--clr-white);
}

.cards.badge .cards-card-body h4 {
  font-size: var(--body-font-size-xl);
  padding: 8px 21px 0;
  margin: 0;
  letter-spacing: var(--letter-spacing-3);
  line-height: var(--line-height-15);
  color: var(--text-color);
}

.cards.badge .cards-card-body p {
  font-size: var(--body-font-size-m);
  padding: 0 21px;
  line-height: var(--line-height-15);
  color: var(--text-color);
  letter-spacing: normal;
}

/***************************************************************
* cards-card-body: "no-image" variant
***************************************************************/
.cards.no-image .cards-card-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 35px 11px 45px 31px;
  line-height: var(--line-height-15);
}

.cards.no-image .cards-card-body h3 {
  box-sizing: border-box;
  margin: 0 0 19.4444px;
  font-family: var(--ff-myradpro-regular);
  line-height: var(--line-height-15);
  letter-spacing: normal;
  color: var(--text-color);
  display: inline;
  font-size: var(--body-font-size-xl);
}

.cards.no-image .cards-card-body p {
  box-sizing: border-box;
  margin: 0 0 19.4444px;
  line-height: var(--line-height-15);
  letter-spacing: normal;
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  display: inline;
}

.cards.no-image .cards-card-body p.button-container {
  margin-bottom: 0;
}

.cards.no-image .cards-card-body a {
  display: inline;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: #f77f00;
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-15);
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: var(--letter-spacing-8);
  background-color: transparent;
  transition: all 0.3s linear 0s;
  touch-action: manipulation;
}

/***************************************************************
* cards-card-body: "left-image" variant
***************************************************************/
.cards.left-image .cards-card-body {
  box-sizing: border-box;
  width: calc(100% - 297px);
  margin: 0;
  padding: 32px 40px 33px 33px;
  line-height: var(--line-height-15);
}

@media screen and (max-width: 767px) {
  .cards.left-image .cards-card-body {
    width: 100%;
    padding: 22px 20px 42px 27px;
  }
}

.cards.left-image .cards-card-body h3 {
  box-sizing: border-box;
  margin: 0 0 19.4444px;
  font-family: var(--ff-myradpro-semibold);
  font-weight: normal;
  line-height: var(--line-height-14);
  letter-spacing: var(--letter-spacing-2);
  color: var(--text-color);
  max-width: 360px;
  margin-bottom: 20px;
  font-size: calc(0.0039 * 100vw + 18.125px);
}

@media (min-width: 992px) {
  .cards.left-image .cards-card-body h3 {
    font-size: var(--body-font-size-xl);
  }
}

.cards.left-image .cards-card-body p {
  box-sizing: border-box;
  margin: 0 0 19.4444px;
  font-family: var(--ff-myradpro-regular);
  line-height: var(--line-height-15);
  letter-spacing: normal;
  color: var(--text-color);
  font-size: calc(0.0078 * 100vw + 12.25px);
}

@media (min-width: 992px) {
  .cards.left-image .cards-card-body p {
    font-size: var(--body-font-size-l);
  }
}

.cards.left-image .cards-card-body p.button-container {
  margin-bottom: 0;
}

.cards.left-image .cards-card-body .button-container a {
  display: inline;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: #f77f00;
  font-size: var(--body-font-size-l);
  line-height: var(--line-height-15);
  font-family: var(--ff-myradpro-semibold);
  text-transform: none;
  letter-spacing: var(--letter-spacing-8);
  background-color: transparent;
  transition: all 0.3s linear 0s;
  touch-action: manipulation;
}

.cards.left-image .cards-card-body .button-container a::after {
  content: "";
  background: url("/icons/icon-right-arrow.svg") bottom right/contain no-repeat;
  display: inline-block;
  margin-left: 3px;
  height: 0.6em !important;
  width: 7px !important;
  transform: translateY(0);
  position: static !important;
  box-sizing: border-box;
}

/***************************************************************
* cards-card-image
***************************************************************/
.cards.badge .cards-card-image {
  margin: 8px auto 0;
  display: flex;
  align-items: center;
  height: 104px;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.cards.left-image .cards-card-image picture {
  overflow: hidden;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
}

.cards.left-image .cards-card-image {
  display: flex;
}

.cards.left-image .cards-card-image img {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .cards.left-image .cards-card-image picture {
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

  .cards.left-image .cards-card-image {
    line-height: var(--line-height-15);
    box-sizing: border-box;
    height: 260px;
  }
}
