/* CARD THEMES */

/* Software */
.cards.software p {font-size: 16px;}

.cards.software .cards-card-body a:any-link{
  font-size : 20px;
}

/* featured-news */
.cards.featured-news p {font-size: 16px;}

.cards.featured-news .cards-card-body a:any-link{
  font-size : 20px;
}

/* resource-center */
.cards.resource-center p {font-size: 16px;}

.cards.resource-center .cards-card-body a:any-link{
  font-size : 14px;
}

/* stories */
.cards.stories .cards-card-image {
    font-size: 16px;
    padding: 0 20px;
}

.cards.stories .cards-card-image img {
    margin: 28px auto 0;
}

.section.bigger-cards .cards-wrapper, .section.bigger-cards .cards {
    max-width: 275px;
    width: var(--section-width);
    margin: 0 auto;
}



/* Badge */

  
  .cards.badge .cards-card-body > *:first-child {
    margin-top: 0;
  }
  
  .cards.badge * > code {
    display: inline-block;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    color: var(--clr-white);
    font-size: var(--heading-font-size-s);
    font-family: var(--ff-myradpro-semibold);
    line-height: 36px;
    letter-spacing: var(--letter-spacing-72);
    background-color: var(--clr-blue);
    padding: 0 20px;
    margin-left: -21px;
    margin-top: -16px;
  }

/* COLOR THEMES */

/* Orange */
.cards.orange  .cards-card-body a:any-link, .cards.orange .cards-card-body a:any-link:hover {
    border-radius: unset;
    border:unset;
    padding: unset;
    color: var(--clr-orange);
    background-color: var(--clr-white);
  }

  .cards.orange .cards-card-body a:any-link:hover{
    text-decoration: underline;
  }
  
.cards.orange .cards-card-body a.button::after{
    background: url("/icons/icon-right-arrow-orange.svg") bottom right/contain no-repeat;
    content: "";
    display: inline-block;
    margin-left: 3px;
    height: 0.6em !important;
    width: 7px !important;
    transform: translateY(0);
  }


  /* Green */
  .cards.green  .cards-card-body a:any-link, .cards.green .cards-card-body a:any-link:hover {
    border-radius: unset;
    border:unset;
    padding: unset;
    color: var(--clr-green);
    background-color: var(--clr-white);
  }

  .cards.green .cards-card-body a:any-link:hover{
    text-decoration: underline;
  }

.cards.green .cards-card-body a.button::after{
    background: url("/icons/icon-right-arrow-green.svg") bottom right/contain no-repeat;
    content: "";
    display: inline-block;
    margin-left: 3px;
    height: 0.6em !important;
    width: 7px !important;
    transform: translateY(0);
  }

/* Blue */
.cards.blue  .cards-card-body a:any-link, .cards.blue .cards-card-body a:any-link:hover {
    text-decoration: none;
    border-radius: unset;
    border:unset;
    padding: unset;
    color: var(--clr-blue);
    background-color: var(--clr-white);
    }

.cards.blue .cards-card-body a:any-link:hover{
    text-decoration: underline;
    }

      
.cards.blue .cards-card-body a.button::after{
    background: url("/icons/icon-right-arrow.svg") bottom right/contain no-repeat;
    content: "";
    display: inline-block;
    margin-left: 3px;
    height: 0.6em !important;
    width: 7px !important;
    transform: translateY(0);
    }





/* Tablet */
@media only screen and (min-width: 768px) {
.cards.software p,
.cards.resource-center p {
    font-size : 18px;
}

.section.bigger-cards .cards-wrapper,  .section.bigger-cards .cards {
    max-width: 768px;
    width: var(--section-width);
    margin: 0 auto;
}

  }


/* Desktop */
@media only screen and (min-width: 1030px) {
  .cards.software p,
  .cards.resource-center p {
    font-size : 22px;
}

.section.bigger-cards .cards-wrapper,  .section.bigger-cards .cards {
    max-width: 1151px;
    width: calc(var(--section-width) + 72px);
    margin: 0 auto;
}

  }