@import url('cards-themes.css');

/* Mobile */

/* Default layout-1-card */
.cards > ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 25px;
  padding-bottom: 25px;

}

.cards > ul  p{
  font-size : 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
  list-style-type: none;
  border-radius: 15px;
  transition: all 0.3s linear 0s;
}

.cards > ul > li:hover{
box-shadow: 0 2px 3px 0 rgb(0 47 109 / 21%), 0 2px 15px 0 rgb(0 47 109 / 15%);
cursor: pointer;
transition: all 0.3s linear 0s;
}

.cards .cards-card-body {
  margin: 16px 21px 0;
}

.cards .cards-card-body h3{ font-size: 16px;}



.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* layout-75-25 */
.cards.layout-75-25{
margin-top: 59px;
}

.cards.layout-75-25 > ul > li:nth-child(odd){
  display: flex;
  flex-direction: column;

} 

.cards.layout-75-25 > ul > li:nth-child(odd) .cards-card-image{
  height: 100%;
  width: 100%;

} 

.cards.layout-75-25 > ul > li:nth-child(odd) .cards-card-image img{
  width: 100%;
  height: 79px;
  object-fit: cover;
  margin-right: -6.5%;
  overflow: hidden;
  border-radius: 50% 50% 0 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cards.layout-75-25 > ul >li,
.cards.layout-25-75 > ul >li,
.cards.layout-2-card > ul >li{
  max-width: 480px;
}

/* layout-25-75 */
.cards.layout-25-75 > ul > li:nth-child(even){
  display: flex;
  flex-direction: column;

} 

.cards.layout-25-75 > ul > li:nth-child(even) .cards-card-image{
  height: 100%;
  width: 100%;

} 

.cards.layout-25-75 > ul > li:nth-child(even) .cards-card-image img{
  width: 100%;
  height: 79px;
  object-fit: cover;
  margin-right: -6.5%;
  overflow: hidden;
  border-radius: 50% 50% 0 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* layout-featured */
.cards.layout-featured > ul > li{
  display: flex;
    width: 100%;
    flex-direction: column;

} 

.cards.layout-featured > ul > li .cards-card-image{
  height: 100%;
} 

.cards.layout-featured .cards-card-image img{
  overflow: hidden;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
} 

/* Mobile */
@media only screen and (max-width: 480px) {
  .cards > ul > li {
  max-width: 305px;
  margin: 0 auto;
  }
}


/* Tablet */
@media only screen and (min-width: 768px) {

  .cards .cards-card-body h3{ font-size: 20px;}

/* LAYOUTS */

/* layout-2-card */
.cards.layout-2-card > ul {
  grid-template-columns: repeat(2,1fr);
  grid-gap: 22px;
}

/* layout-3-card */
.cards.layout-3-card > ul {
  grid-template-columns: repeat(3, 1fr);
}

/* layout-4-card */
.cards.layout-4-card > ul {
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  max-width: 582px;
  margin: 0 auto;
}

/* layout-75-25 */
.cards.layout-75-25 > ul {
  grid-template-columns: repeat(1,1fr);
  grid-gap: 22px;
}

.cards.layout-75-25 > ul> li:has(picture) {
  min-height: 402px;
  }

.cards.layout-75-25 > ul> li {
max-width: inherit;
}

.cards.layout-75-25 > ul > li:nth-child(odd){
  display: flex;
  flex-direction: row;

} 

.cards.layout-75-25 > ul > li:nth-child(odd) .cards-card-image{
  width: 100%;
  height: 100%;
} 

.cards.layout-75-25 > ul > li:nth-child(odd) .cards-card-image img{
  width: 100%;
  height: 100%;
  object-fit: unset;
  margin-right: unset;
  overflow: unset;
  border-radius: unset
}

/* layout-25-75 */
.cards.layout-25-75 > ul {
  grid-template-columns: 1fr 3fr;
  grid-gap: 22px;
}

.cards.layout-25-75 > ul > li:nth-child(even){
  display: flex;
  flex-direction: row;

} 

.cards.layout-25-75 > ul > li:nth-child(even) .cards-card-image{
  width: 100%;
  height: 100%;
} 

.cards.layout-25-75 > ul > li:nth-child(even) .cards-card-image img{
  width: 100%;
  height: 100%;
  object-fit: unset;
  margin-right: unset;
  overflow: unset;
  border-radius: unset
}

/* layout-featured */
.cards.layout-featured > ul {
  grid-template-columns: repeat(1,1fr);
}

.cards.layout-featured > ul > li{
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom-left-radius: 15px;
}

.cards.layout-featured .cards-card-image{
  display: flex;
}

.cards.layout-featured .cards-card-image img{
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  object-fit: fill;
} 

/* layout-carousel */
.cards.layout-carousel > ul {
  grid-template-columns: repeat(3, 1fr);
}

}

/* Desktop */
@media only screen and (min-width: 1030px) {

  .cards .cards-card-body h3{ font-size: 22px;}

  /* layout-4-card */
.cards.layout-4-card > ul {
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  max-width: inherit;
}

/* layout-75-25 */
.cards.layout-75-25 > ul {
  grid-template-columns: calc(100% - 315px) 295px;
}

}