.user-licenses-container {
  margin-top: 60px;
  margin-bottom: 80px;
}

.user-licenses > a.more-info {
  display: block;
  margin-top: 2rem;
  text-align: right;
}



.user-licenses > .primary-license-action-button {
  float: right;
  margin-top: -4rem;
}

div.tabs {
  box-shadow: 0 0 5px #1718180D, 0 1px 2px #00000026;
  outline: 0.1rem solid transparent;
  border-radius: .5rem;
}

/* Tabs Navigation Buttons */
ul.tabs-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0 0;
  padding: 0;
}

ul.tabs-nav li {
  display: flex;
  margin: 0;
  padding: 0 0.5rem;
  list-style: none;
}

ul.tabs-nav li a {
  font-family: var(--ff-myradpro-semibold);
  font-size: 16px;
  color: #54565b;
  text-decoration: none;
  text-align: center;
  appearance: none;
  background: none;
  border: none;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  position: relative;
  margin: 1px 0 -1px;
  padding: 0.8rem 1rem;
}

ul.tabs-nav li a.active {
  color: #202223;
  font-weight: 400;
}

ul.tabs-nav li a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.2rem;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  background-color: #0070c0;
}

/* Tabs Content Table */
.tab-content {
  overflow-x: auto;
}

.tab-content.show {
  display: block;
}

.tab-content table {
  margin-bottom: 0;
  font-size: 14px;
  font-family: var(--ff-myradpro-regular);
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.tab-content table th,
.tab-content table td {
  border: 1px solid var(--color-border);
}

.tab-content table thead tr {
  background: #f6f6f7;
}

.tab-content table thead th {
  padding: .5rem 0.7rem;
  font-weight: bold;
  font-family: var(--ff-myradpro-semibold);
  font-size: 16px;
  border-bottom: 0.05rem solid #8c9196;
  border-top: 0;
  white-space: nowrap;
}

.tab-content table thead th button {
  font-family: var(--ff-myradpro-semibold);
  font-size: 16px;
  color: #54565b;
  appearance: none;
  margin: 0;
  padding: 0 20px 0 0;
  background: none;
  border: none;
  line-height: inherit;
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  transition: color .2s cubic-bezier(.64, 0, .35, 1);
  cursor: pointer;
}

.tab-content table thead th button:focus {
  color: #0070c0;
  outline: none;
}

.tab-content table thead th button::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 5px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #54565b;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 0;
}

.tab-content table thead th button:focus::after {
  border-top: 5px solid #1f5199;
}

.tab-content table tbody td {
  padding: .5rem .75rem;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  transition: background-color .2s ease-in-out;
}

.tab-content table tbody tr:hover td {
  background: #f6f6f7;
}

.tab-content table tbody td span.active-license {
  color: #008060;
}

.tab-content table tbody td a {
  font-weight: bold;
  color: var(--clr-blue);
  border-bottom: none;
  text-decoration: none;
  font-size: 16px;
}


/* Manage License Details */
.license-details,
.end-users-details {
  margin-top: 60px;
}

.license-details h2,
.end-users-details h2 {
  margin: .3em 0;
  font-size: 24px;
  line-height: 3.2rem;
  font-weight: 400;
  font-family: var(--ff-myradpro-regular);
  letter-spacing: 0.2px;
  color: #54565b;
}

.license-details-data {
  margin: -10px 0 0;
  padding: .5rem 1.5rem;
  background-color: var(--p-surface);
  box-shadow: var(--p-card-shadow, 0 0 0 1px rgba(63 63 68 / 5%), 0 1px 3px 0 rgba(63 63 68 / 15%));
  outline: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.license-details-row {
  margin-bottom: .3em!important;
  padding: 0!important;
  border-bottom: 1px solid var(--color-border);
}

.license-details-row:last-child {
  border-bottom: none;
}

.element-detail-cell h3.element-detail-cell-heading {
  margin: .3em 0 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.4rem;
}

.element-detail-cell p {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--ff-myradpro-regular);
  letter-spacing: 0.2px;
  color: #54565b;
}

input.nickname {
  font-size: 15px;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  z-index: 20;
  display: block;
  flex: 1 1;
  width: 100%;
  min-width: 0;
  min-height: 36px;
  height: 36px;
  margin: 15px 0 0;
  padding: 0.5rem 1.2rem;
  background: initial;
  background: none;
  border: 1px solid #CCC;
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  appearance: none;
  caret-color: #202223;
  color: #202223;
  border-radius: 0.25rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  touch-action: manipulation;
}

input.nickname:hover {
  border: 1px solid #CCC;
}

input.nickname:focus,
input.nickname:focus-visible {
  outline: none;
  border-color: #b3b3b3;
}

button.save-nickname {
  margin: 15px 0 0;
  width: 3.8rem;
}


/* End User Details */
.end-users-details {
  position: relative;
}

.license-details-view-wrapper > a.more-info {
  display: block;
  margin-top: 2rem;
  text-align: right;
}

button.add-user-to-license {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2rem 1.3rem;
}


/* Add User and Change User
/* Modal Content */
.add-user-modal-content,
.change-user-modal-content {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.add-user-modal-content > .modal-body,
.change-user-modal-content > .modal-body {
  overflow-y: scroll;
  height: 450px;
}

.add-user-modal-content > .modal-footer > button:first-child,
.change-user-modal-content > .modal-footer > button:first-child {
  position: absolute;
  left: 20px;
}


/* Delete User Modal Content */
.delete-user-modal-content {
  max-width: 39rem;
  width: 100%;
}

.delete-user-modal-content > .modal-body {
  padding: 20px;
}

.delete-user-container p {
  margin: 0.3em 0;
  font-size: 1.5rem;
  line-height: 1em;
  font-family: var(--ff-myradpro-regular);
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #54565b;
  text-align: left;
}


/* Edit User and Add Colleague
/* Modal Content */
.edit-user-modal-content,
.add-colleague-modal-content {
  max-width: 38rem;
  width: 100%;
}

.edit-user-modal-content .modal-footer,
.add-colleague-modal-content .modal-footer {
  display: none;
}

.edit-user-container form,
.add-colleague-modal-content form {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0;
  text-align: left;
}

.edit-user-container form label,
.add-colleague-container form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: .025rem;
  display: block;
}

.edit-user-container form > input[type='text'],
.add-colleague-container form > input[type='text'] {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6rem;
    text-transform: initial;
    letter-spacing: initial;
    position: relative;
    z-index: 20;
    display: block;
    flex: 1 1;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    min-height: 2rem;
    margin: 0 0 .75rem;
    padding: 0.25rem .8rem;
    background: none;
    border-radius: 3px;
    border: 1px solid rgba(201 204 207);
    border-top-color: rgba(174 180 185);
    font-family: inherit;
    appearance: none;
    caret-color: rgba(32 34 35);
    color: rgb(32 34 35);
    -webkit-font-smoothing: antialiased;
}

.edit-user-container form > input[type='text']:focus,
.add-colleague-container form > input[type='text']:focus {
  outline: none;
  border-color: #b3b3b3;
}

.edit-user-container form > input[type='text']:disabled,
.add-colleague-container form > input[type='text']:disabled {
  cursor: default;
  background: rgba(250 251 251);
  color: rgba(32 34 35);
  opacity: .5;
  -webkit-text-fill-color: rgba(32 34 35);
  border-color: #f4f4f4;
  border: 1px solid rgba(201 204 207);
}

input.form-action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 0.15rem 0;
  padding: 0.10rem 0.6rem;
  min-height: 1.5rem;
  min-width: 3.6rem;
  max-width: 108px;
  border-radius: 0.3rem;
  color: #0070c0;
  background: transparent;
  border: 1px solid #8c9196;
  border-color: #0070c0;
  box-shadow: 0 0 0 0.05rem #0070c0;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,'San Francisco','Segoe UI',Roboto,'Helvetica Neue'c,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6rem;
  text-transform: initial;
  letter-spacing: initial;
}

input.form-action-button:hover {
  color: var(--primary-button-color);
  background: rgba(246 246 247 / 100%);
  outline: 0.1rem solid transparent;
  border: 1px solid #0070c0;
}

input.form-action-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-color: var(--primary-button-color);
  opacity: 0;
  z-index: 0;
}


/* Create User */
.create-user-view-wrapper > .view-buttons {
  display: flex;
  justify-content: space-between;
}

.create-user-view-wrapper > .view-buttons .button {
  margin-top: 0;
  font-size: 16px;
}

a.visit-knowledgebase {
  display: block;
  margin-top: 2rem;
}


/* Manage User */
.manage-user-view-wrapper > h2 {
  margin: 0.3em 0;
  font-size: 34px;
  line-height: 1em;
  font-weight: 600;
}

.manage-user-view-wrapper > h3 {
  margin: 0.3em 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
  font-family: MyriadPro-Regular, sans-serif
}

.manage-user-view-wrapper > p {
  margin: 0;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 0.2px;
  font-weight: normal;
  font-family: MyriadPro-Regular, sans-serif
}

.manage-user-view-wrapper > button.primary.action {
  float: right;
}

.manage-user-view-wrapper .table-container {
  margin-bottom: 5rem;
}

.user-disclaimer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 1.2rem 1.2rem 1.2rem;
  width: auto;
  transition: box-shadow .2s cubic-bezier(.64,0,.35,1);
  transition-delay: .1s;
  box-shadow: inset 0 0.05rem 0 0 rgba(186 191 195), inset 0 0 0 0.05rem rgba(186 191 195);
  border-radius: 0.6rem;
  background-color: rgba(246 246 247);
  outline: 0.1rem solid transparent;
}

.user-disclaimer-icon {
  display: block;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 1.25rem;
  height: auto;
}

.user-disclaimer-icon svg {
  margin-top: -5px;
  fill: rgba(92 95 98 );
}

.user-disclaimer p {
  margin: 0;
  font-size: 15px;
  line-height: 1.2rem;
  text-transform: initial;
  letter-spacing: initial;
  font-weight: 400;
}

.colleague-details-row.layout-33-33-33 {
  padding: 0 0 20px 0;
}

.colleague-details-row .element-detail-cell button.important  {
  margin-top: 20px;
  float: right;
}

.colleague-details-data input {
  position: relative;
  display: block;
  flex: 1 1;
  text-transform: initial;
  letter-spacing: initial;
  width: 100%;
  min-width: 0;
  min-height: 2.6rem;
  margin: 0 0 .25rem 0;
  padding: 0.15rem 1rem;
  background: none;
  border: 0.1rem solid transparent;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: rgba(32 34 35);
  color: rgba(32 34 35 / 80%);
  border-radius: 2px;
  border: 1px solid rgba(201 204 207);
  border-top-color: rgba(174 180 185);
  border-radius: 4px;
}

