.cards-carousel-wrapper {
    padding: 40px 0 !important;
    width: calc(100% - 30px) !important;
}

.cards-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.cards-carousel .cards-carousel-slide-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: height 0.2s linear;
    width: calc(100% - 30px);
    max-width: 935px;
}

@media (min-width: 992px) {
    .cards-carousel.layout-3-card .cards-carousel-slide-container {
        max-width: 984px;
    }
}

/***************************************************************
* style for .cards-carousel-slide
***************************************************************/
.cards-carousel .cards-carousel-slide.card-with-link:hover {
    cursor: pointer;
    transition: all 0.3s linear 0s;
}

.cards-carousel .cards-carousel-slide {
    display: inline-flex;
    box-sizing: border-box;
    border: 1px solid var(--highlight-background-color);
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--background-color);
    transition: all 0.5s;
}

.cards-carousel.feature .cards-carousel-slide {
    align-items: center;
    min-width: calc(100%);
    max-width: 935px;
    height: 286px;
}

.cards-carousel.layout-3-card .cards-carousel-slide {
    flex-direction: column;
    min-width: 305px;
    margin: 0 calc(16.7% - 152.5px);
}

@media (max-width: 992px) {
    .cards-carousel.layout-3-card .cards-carousel-slide {
        margin: 0 calc(25% - 152.5px);
    }
}

@media screen and (max-width: 767px) {
    .cards-carousel.feature .cards-carousel-slide {
        flex-direction: column;
        min-width: 267px;
        height: 573px;
        margin: 0 calc(25% - 133.5px);
    }

    .cards-carousel.layout-3-card .cards-carousel-slide {
        margin: 0 calc(50% - 152.5px);
    }
}

@media screen and (max-width: 640px) {
    .cards-carousel.feature .cards-carousel-slide {
        margin: 0 calc(50% - 133.5px);
    }
}

/***************************************************************
* style for cards-card-body
***************************************************************/
.cards-carousel .cards-card-body {
    margin: 0 16px 16px;
}

.cards-carousel .cards-card-body h3 {
    color: #002f6d;
    font-size: var(--body-font-size-xl);
    letter-spacing: var(--letter-spacing-3);
}

.cards-carousel .cards-card-body .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--ff-myradpro-semibold);
    letter-spacing: 0.64px;
    transition: all 0.3s linear 0s;
}

.cards-carousel.feature .cards-card-body {
    margin: 20px 50px 0;
}

.cards-carousel.feature .cards-card-body p {
    font-style: var(--font-style-body);
    font-weight: var(--font-weight-body);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
}

@media screen and (max-width: 767px) {
    .cards-carousel.feature .cards-card-body {
        margin: 0 20px;
    }
}

/***************************************************************
* style for cards-card-image
***************************************************************/
.cards-carousel.feature .cards-carousel-slide .cards-card-image {
    min-width: 384px;
    height: 220%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0 50% 50% 0;
}

.cards-carousel.feature .cards-carousel-slide .cards-card-image picture {
    height: 286px;
}

.cards-carousel.feature .cards-carousel-slide .cards-card-image img {
    height: 286px;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .cards-carousel.feature .cards-carousel-slide .cards-card-image {
        border-radius: 0 0 50% 50%;
        height: 164px;
        width: 160%;
    }

    .cards-carousel.feature .cards-carousel-slide .cards-card-image picture {
        height: 164px;
    }

    .cards-carousel.feature .cards-carousel-slide .cards-card-image img {
        width: 269px;
        height: 164px;
    }
}

/***************************************************************
* style for carousel-nav
***************************************************************/
.cards-carousel .carousel-nav::before {
    cursor: pointer;
    margin-top: 5px;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    color: #fff;
}

.cards-carousel .carousel-nav-prev::before {
    transform: rotate(225deg);
}

.cards-carousel .carousel-nav-next::before {
    transform: rotate(45deg);
}

.cards-carousel .carousel-nav:hover::before {
    opacity: 0.75;
}

@media screen and (max-width: 1040px) {
    .cards-carousel .carousel-nav::before {
        display: none;
    }
}

/***************************************************************
* style for carousel-dots
***************************************************************/
.cards-carousel-wrapper ul.carousel-dots {
    display: flex;
    left: 50%;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 100%;
    max-width: inherit;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.cards-carousel-wrapper .carousel-dots li {
    width: 12px;
    height: 12px;
    box-shadow: inset 0 0 100px 100px var(--neutral-sand);
    cursor: pointer;
    border-radius: 50%;
    list-style-type: none;
}

.cards-carousel-wrapper .carousel-dots button {
    list-style: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    background: transparent;
    border-radius: 0;
}

.cards-carousel-wrapper .carousel-dots button::before {
    content: "";
    display: block;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: .6;
    transition: opacity 0.3s linear 0s;
}

.cards-carousel-wrapper .carousel-dots .carousel-dots-active button::before {
    opacity: 1;
}