.search-results-page-container .search-count-result {
  padding-left: 9px;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #54565b;
}

.search-results-page-container  .search-result-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dad9d7;
}

.search-results-page-container .search-result-section.knowledgebase p {
  font-size: var(--body-font-size-s);
  margin: 0;
}

.search-results-page-container .search-result-section.knowledgebase a {
  text-decoration: none;
}

.search-results-page-container .results-loading-spinner {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid #eee;
  border-top-color: #3E67EC;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}

.search-results-page-container  .search-result-section-header h3 {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-x);
  letter-spacing: var(--letter-spacing-34);
}

.search-results-page-container .search-result-section h4 {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xl);
}

.search-results-page-container a.search-community-block p {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.search-results-page-container a.search-community-block:any-link {
  text-decoration: none;
}

.search-results-page-container  .search-product-block {
  display: flex;
}

.search-results-page-container  .learn-more {
  font-family: var(--heading-font-family);
  color: #f77f00;
  font-size: var(--heading-font-size-xs);
  line-height: 2;
  letter-spacing: 0.56px;
  margin-right: 4px;
}

.search-results-page-container  .search-result-section {
  padding-top: 31px;
  padding-bottom: 36px;
}

/** tab like columns */
.search-results-page-container .tabs > div {
  display: flex;
  border-bottom: 1px solid var(--highlight-background-color);
  gap: 32px;
  margin: 40px 0;
  align-items: flex-end;
  overflow: auto;
}

.search-results-page-container .tabs img {
  width: 100%;
}

.search-results-page-container .tabs > div > div {
  order: 1;
  border-bottom: 4px solid transparent;
}

.search-results-page-container .tabs > div > .columns-img-col {
  order: 0;
}

.search-results-page-container .tabs > div > .columns-img-col img {
  display: block;
}


.search-results-page-container .tabs .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  position: relative;
}

.search-results-page-container .tabs a,
.search-results-page-container .tabs .active a {
  margin: auto 0;
  font-size: inherit;
  color: var(--text-color);
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: var(--letter-spacing-8);
  min-width: 100px;
}

.search-results-page-container .tabs a:any-link {
  border-bottom: 4px solid var(--clr-white);
  text-decoration: none;
}

.search-results-page-container .tabs .active {
  border-bottom: 4px solid var(--clr-orange);
}

.search-results-page-container .tabs > div > div:hover {
  border-bottom: 4px solid var(--clr-orange);
}

.search-results-page-container .load-more {
  margin: 50px;
  text-align: center;
}

@media screen and (min-width: 1030px) {
  .search-results-page-container >div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .search-results-page-container >div>div {
    flex: 1;
    order: unset;
  }
}


