/* header and nav layout */

header .header.block {
  position: fixed;
  z-index: 99;
  width: 100%;
}

header nav {
  max-width: 1240px;
  margin: 0 auto;
  padding: 16px 20px;
  height: var(--nav-height);
}

header nav > div {
  box-sizing: border-box;
  display: grid;
  grid-template: 'logo .  hamburger' / auto 1fr  50px;
  height: 100%;
}

header nav .nav-logo {
  grid-area: logo;
  align-self: center;
  /* justify-self: center; */
}

header nav .nav-logo svg {
  width: 100px;
  height: 60px;
}

header nav .nav-logo picture img {
  width: 71px;
  height: 28px;
}

header nav .nav-menu {
  display: none;
}

header nav .nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav .nav-menu ul .menu-nav-category {
  display: flex;
  justify-content: space-between;
}

header nav .nav-menu .menu-nav-dropdown {
  display: none;
}

header nav .nav-hamburger {
  grid-area: hamburger;
  align-self: center;
  justify-self: center;
}

header nav div:is(.nav-tools, .nav-hamburger) svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header nav .nav-tools {
  grid-area: tools;
  display: none;
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 14px;
}


/* Tablet */
@media only screen and (min-width: 768px) { 

  header nav .nav-logo picture img {
    width: 120px;
    height: 46.8px;
  }

}

/* Desktop styles */
@media only screen and (min-width: 1030px) {
  
  header nav {
    padding:0;
  }

  header nav > div {
    grid-template:
    'logo links tools' 1fr
  }

  header nav .nav-hamburger {
    display: none;
}
  header nav .nav-menu {
    display: flex;
    align-items: flex-end;
    grid-area: links;
  }

  header nav .nav-menu ul {
    display: flex;
}

header nav .nav-menu > ul > li {
  padding-left: 16px;
  padding-right: 16px;
  font-size: var(--heading-font-size-s);
}

header nav .nav-menu ul > li .menu-nav-category {
  padding: 0;
  border-bottom: none;
}

header nav .nav-menu ul > li .menu-nav-category *{
  background-image: url(../../icons/chevaron-down.svg);
  color: blue;
  font-size: 26px;
}

header nav .nav-menu ul > li .menu-nav-category .dropdown-button {
  border: none;
  background-color: transparent;
  padding: 3px 10px;
  position: relative;
  z-index: 0;
  padding-left: 17px;
  padding-right: 20px;
}

header nav .nav-tools {
  justify-self: end;
  align-self: center;
}

header nav .nav-tools > div {
  display: flex;
  gap: 14px;
  align-items: flex-end
}
}

