/* stylelint-disable selector-class-pattern */

.marketo-container{
    background-color: #0070c0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    overflow: hidden;
}

.marketo-container .default-content-wrapper{
    padding-top: 82px;
}

.marketo-container .default-content-wrapper p{
    line-height: 1.45;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.04px;
    text-align: center;    
}

.marketo{
    margin: 0 auto;
    width: 100%;
    background-color: #0070c0;
    padding-bottom: 55px;
}

.mktoForm, .marketo-form form {
    margin: 0 auto !important;
    width: 100% !important;
  }
  
/* Mobile */
@media only screen and (min-width: 480px) {
    .marketo form  {
        width: 440px !important;
      }   
  }
  
  /* Tablet */
  @media only screen and (min-width: 768px) {
    .marketo form  {
        width: 700px !important;
      }   
  }
  
  
  /* Desktop */
  @media only screen and (min-width: 1030px) {
    .marketo form  {
        width: 711px !important;
      }   
  }
  