/* stylelint-disable selector-class-pattern */

.marketo-container{
    overflow: hidden;
}

.marketo{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 55px;
}

.mktoForm, .marketo-form form {
    margin: 0 auto !important;
    width: 100% !important;
  }

  .marketo-container .default-content-wrapper a:any-link,
  .marketo-container .default-content-wrapper a:hover{
    border:none;
    background-color: unset;

    /* color : var(--clr-orange); */
    padding: unset;
    border-radius: unset;
}

.marketo-container .default-content-wrapper a:any-link::after{
    content: "";
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 7px;
    width: 7px;
    transform: rotate(45deg) translate(-3px);
    
    /* color: #f77f00; */
    margin-left : 5px
}

.marketo-container .default-content-wrapper a:hover{
    text-decoration: underline;
}

/* Marketo form styling for newsletter subscription */

.marketo-container.newsletter{
    display: block;
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
}

 


.marketo-container.newsletter .default-content-wrapper{
    padding-top: 82px;
}

.marketo-container.newsletter .default-content-wrapper p{
    line-height: var(--line-height-14);
    font-size: var(--body-font-size-l);
    color: var(--clr-white);
    letter-spacing: var(  --letter-spacing-96);
}

.marketo-wrapper h4{
    font-size: 26px;
    padding-bottom: 16px;
}

.marketo-container.newsletter .marketo-wrapper h4{
    color:white;
}

  
/* Mobile */
@media only screen and (min-width: 480px) {
    .marketo-container.newsletter .marketo form  {
        width: 440px !important;
      }   
  }
  
  /* Tablet */
  @media only screen and (min-width: 768px) {
    .marketo-container{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: var(--section-width);
        margin: 0 auto;
    }
    
    .marketo-container.newsletter .marketo form  {
        width: 700px !important;
      }   

      .marketo-container.newsletter .marketo .mktoHtmlText  {
        padding: 16px 0;
  }

      .marketo-container.newsletter .default-content-wrapper{
        padding-top: 100px;
    }

  }
  
  
  /* Desktop */
  @media only screen and (min-width: 1030px) {
    .marketo-container.newsletter .marketo form  {
        width: 711px !important;
      }   
  }
  