.user-tickets-container { margin-top: 77px; }

/* Support Tickets - Buttons */
.user-tickets .support-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.user-tickets .support-links a:last-of-type {
    margin-right: 0;
}

a.button.primary {
    height: 36px;
    margin: 0 18px 0 0;
    width: auto;
    padding: 9px 16px;
    border: 2.5px solid var(--clr-blue);
    border-radius: 8px;
    font-size: 16px;
    line-height: 36px;
    color: var(--primary-button-color);
    letter-spacing: 0.8px;
    text-transform: none;
    display: inline-flex;
    background: var(--clr-white);
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

a.button.primary:hover,
a.button.primary:focus {
    background: var(--primary-button-hover-color);
    color: var(--clr-white);
}