.user-tickets-container { margin-top: 77px; }

/* Support Tickets - Buttons */
.user-tickets .support-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.user-tickets .support-links a {
    height: 36px;
    margin: 0 18px 0 0;
    width: auto;
    padding: 9px 16px;
    border: 2.5px solid var(--clr-blue);
    border-radius: 8px;
    font-size: 16px;
    line-height: 36px;
    color: var(--primary-button-color);
    letter-spacing: 0.8px;
    text-transform: none;
    display: inline-flex;
    background: var(--clr-white);
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

.user-tickets .support-links a:hover,
.user-tickets .support-links a:focus {
    background: var(--primary-button-hover-color);
    color: var(--clr-white);
}

.user-tickets .support-links a:last-of-type {
    margin-right: 0;
}

/* Support Tickets - Table */
.user-tickets table {
    margin-bottom: 0;
    font-size: 14px;
    font-family: var(--ff-myradpro-regular);
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 0.8rem 3px;
    background-color: var(--clr-white);
    box-shadow: 0 0 5px #1718180D, 0 1px 2px #00000026; 
    outline: 0.1rem solid transparent;
}

.user-tickets table th,
.user-tickets table td {
    border: 1px solid var(--color-border);
}

.user-tickets table th {
    padding: .45rem 0.7rem;
    font-weight: bold;
    font-family: var(--ff-myradpro-semibold);
    font-size: 16px;
    vertical-align: top;
    border-bottom: 0.05rem solid #8c9196;
    border-top: 0;
    max-height: 40px;
    text-align: left;
    white-space: normal;
}

.user-tickets table thead button {
    font-family: var(--ff-myradpro-semibold);
    font-size: 16px;
    color: #54565b;
    appearance: none;
    margin: 0;
    padding: 0 20px 0 0;
    background: none;
    border: none;
    line-height: inherit;
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    align-items: baseline;
    transition: color .2s cubic-bezier(.64,0,.35,1);
    cursor: pointer;
}

.user-tickets table thead button:focus {
    color: #0070c0;
    outline: none;
}

.user-tickets table thead button::after {
    content: "";
    position: absolute;
    top: 55%;
    right: 5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid #54565b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 0;
}

.user-tickets table thead button:focus::after {
    border-top: 5px solid #1f5199;
}

.user-tickets table thead button::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: -0.1rem;
    display: block;
    pointer-events: none;
    box-shadow: 0 0 0 -0.1rem #458fff;
    transition: box-shadow .1s cubic-bezier(0.4, 0.22, 0.28, 1);
    border-radius: calc(0.4rem + 0.1rem);
}

.user-tickets table thead button:focus:not(:active)::before {
    box-shadow: 0 0 0 -0.1rem #458fff;
    outline: 0.1rem solid transparent;
}

.user-tickets table thead tr {
    background: #f6f6f7;
}

.user-tickets table tbody tr:hover td {
    background: #f6f6f7;
}

.user-tickets table tbody td {
    padding: .45rem;
    vertical-align: top;
    white-space: nowrap;
    text-align: left;
    transition: background-color .2s ease-in-out;
}

.user-tickets table tbody td:nth-child(3) {
    text-transform: capitalize;
    font-family: var(--ff-myradpro-semibold);
}

.user-tickets table tbody td > a {
    font-size: 16px;
    font-family: var(--ff-myradpro-semibold);
    color: #0070c0;
}

.user-tickets table tbody td > a:hover {
    text-decoration: underline;
}