/* Blog Styling */
main .default-content-wrapper img {
    border-radius: 16px;
}

main ol{
    margin-left: 16px;
    padding-left: unset;
}

main li{
    list-style-type: disc;
    line-height: 1.5;
}

main li > a{
    padding-left:5px;
}

main .default-content-wrapper li > a,
main .default-content-wrapper p a, 
main h4 a:any-link
{
    color : var(--clr-blue);
}

main .category, main .category-link{
    font-family: var(--ff-myradpro-regular);
    font-size: var( --heading-font-size-xs);
    line-height: var(--line-height-13);
    letter-spacing: var(--letter-spacing-12);
    color: var(--text-color);
}

main .category-link{
    font-family: var(--ff-myradpro-semibold);
}

main .publish-date{
    font-size: var(--body-font-size-s);
    line-height: var(--line-height-14);
    letter-spacing: var( --letter-spacing-64);
    color: var( --clr-blue);
    font-family: var(--ff-myradpro-semibold);
}

/* Tablet */
@media only screen and (min-width: 768px) {
    main ol{
        margin-left: 20px;
    }

    main .publish-date{
        font-size: var(--body-font-size-m);
    } 
    
}
