/* stylelint-disable no-descending-specificity */
footer {
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: var(--body-font-size-s);
  width: var(--section-width);
  padding-top:24px;
  margin: 0 auto;
}

footer .footer {
  max-width: 1100px;
  
}

footer span.icon{
  width: 36px;
  height: 36px;
  fill: #0070c0;
  transition: all 0.3s linear 0s;
}

/* footer main links */
footer .footer-main-links{
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  margin-bottom : 15px;
}

footer .footer-main-links > div{
  display: flex;
  flex-direction: column;
} 

footer .footer-main-links div > div:nth-child(3){
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

footer .footer-main-links h5{
  font-size: var(--heading-font-size-s);
}

footer .footer-main-links > div > div{
  flex: 1 1 auto;
  width: auto;
} 

footer .footer-main-links ul{
  margin: 0;
  padding: 0;
} 

footer .footer-main-links ul > li{
  list-style: none;
  margin-bottom: 12px;
} 

footer .footer-main-links ul>li  a, footer .footer-sub-links div a{
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-16);
  letter-spacing: var(--letter-spacing-53);
}

footer .footer-main-links span.icon-facebook > svg{
  display: block;
}


/* footer sub links */
footer .footer-sub-links > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .footer-sub-links > div > div{
  margin: 0 50px 12px 0;

}


/* footer copyright */
footer .footer-copyright{
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .footer-main-links > div > div:last-of-type{
  display: flex;
  flex-flow: row wrap;
  margin-top: 41px;
}

footer .footer-main-links > div > div:last-of-type > p:first-child{
  width: 100%;
  margin: unset;
}

footer .footer-main-links > div > div:last-of-type > p:not(:first-child){
  padding-right: 12px;
}


footer .footer-sub-links div:nth-child(5)::before {
  content:'';
  width: 21px;
  height: 21px;
  background: url('../../icons/globe.svg') left 1px/20px no-repeat;
  display: inline-block;
}

footer .footer-sub-links select.locale {
  font-size: 16px;
  cursor: pointer;
  color: #0070c0;
  border:none;
  border-radius: 5px;
  font-family: var( --ff-myradpro-semibold);
}


/* Tablet */
@media only screen and (min-width: 768px) {
  footer .footer-main-links{
    padding-bottom: 64px;
    border-bottom: 1px solid #e6e6e6;
  }


  footer .footer-main-links > div > p:first-of-type{
    order: 1;
  }

  footer .footer-main-links > div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  } 


  footer .footer-main-links > div > div:last-of-type{
    order: -1;
    max-width: 172px;
    padding-right: 30px;
    margin-top: unset; 
  }

  footer .footer-main-links > div > div:last-of-type > p:not(:first-child){
    padding-right: 7px;
  }

  footer .footer-main-links div > div:nth-child(3){
    padding-bottom: unset;
    border-bottom: unset;
  }
  

  /* footer sub links */
  footer .footer-sub-links > div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  footer .footer-sub-links div:nth-child(5) {
    margin-left: auto;
  }

  footer .footer-sub-links > div > div{
    margin: 0 36px 12px 0;
  
  }

}

/* Desktop */
@media only screen and (min-width: 1030px) {
  footer .footer-main-links > div > div:last-of-type{
    max-width: unset;
    padding-right: unset;
  }

  
}

