@import url('../cards/cards.css');

/* style for pagination selector */
.pagination-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  margin: 30px 0;
}

.pagination-selector .current-page {
  text-decoration: underline;
}
