.search-results > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .search-results > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color);
    list-style-type : none;
    border-radius: 15px;

  }
  
  .search-results .search-results-card-body {
    margin: 16px;
  }
  
  .search-results .search-results-card-image {
    line-height: 0;
  }
  
  .search-results .search-results-card-body > *:first-child {
    margin-top: 0;
  }
  
  .search-results > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }