.search-results-container {
  margin: 30px 0;
}

.search-results>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 40px;
  padding: 0;
  list-style: none;
  grid-gap: 16px;
  width: 100%;
}

.search-results>ul>li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: calc(33.33% - 12px);
  max-width: 305px;
  border: 1px solid var(--highlight-background-color);
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--background-color);
  transition: box-shadow 0.3s linear 0s;
}

.search-results li:hover {
  box-shadow: 0 2px 3px 0 rgb(0 47 109 / 21%), 0 2px 15px 0 rgb(0 47 109 / 15%);
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

@media screen and (max-width: 767px) {
  .cards ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cards>ul>li {
    width: 100%;
  }
}

.search-results .cards-card-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.search-results .cards-card-body>* {
  margin: 8px 0;
}

.search-results .cards-card-body h5 {
  color: var(--clr-blue);
}

.search-results .cards-card-body a {
  display: inline;
  padding: 0;
  border: none;
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: var(--letter-spacing-8);
  font-size: var(--heading-font-size-xs);
  background-color: transparent;
  color: #f77f00 !important;
}

.search-results .cards-card-body:hover a {
  text-decoration: underline;
  background-color: transparent;
}

.search-results .cards-card-body a::after {
  content: "";
  background: url("/icons/icon-right-arrow.svg") bottom right/contain no-repeat;
  display: inline-block;
  margin-left: 3px;
  height: 0.6em !important;
  width: 7px !important;
}

.search-results .cards-card-image {
  position: relative;
}

.search-results .cards-card-image img {
  height: 100%;
}

/***************************************************************
* style for pagination selector
***************************************************************/
.pagination-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  margin: 30px 0;
}

.pagination-selector .current-page {
  text-decoration: underline;
}
