/***************************************************************
* ul
***************************************************************/
.cards-software ul {
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  grid-gap: 16px;
}

@media screen and (max-width: 992px) {
  .cards-software.image-70-30 ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .cards-software ul {
    flex-direction: column;
  }
}

/***************************************************************
* li
***************************************************************/
.cards-software li {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 0 !important;
  border: solid 1px #dad9d7;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--clr-white);
}

.cards-software li:hover {
  box-shadow: 0 2px 3px 0 rgb(0 47 109 / 21%), 0 2px 15px 0 rgb(0 47 109 / 15%);
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

.cards-software.bottom-image li {
  width: calc(50% - 10px);
  height: 402px;
  justify-content: space-between;
  flex-direction: column;
}

.cards-software.image-70-30 li:nth-of-type(1) {
  width: 643px;
  min-height: 402px;
}

@media screen and (min-width: 992px) {
  .cards-software.image-70-30 li:nth-of-type(1) {
    min-width: 643px;
  }
}

@media screen and (max-width: 992px) {
  .cards-software.image-70-30 li {
    width: 100% !important;
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .cards-software.bottom-image li {
    width: 100% !important;
    margin-bottom: 30px !important;
  }

  .cards-software.image-70-30 li {
    flex-direction: column;
    justify-content: space-between;
  }

  .cards-software.image-70-30 li:nth-of-type(1) {
    max-width: 480px;
  }
}

/***************************************************************
* cards-card-body
***************************************************************/
.cards-software .cards-card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  margin: 0;
}

.cards-software.bottom-image .cards-card-body {
  padding: 50px 37px 12px 39px;
}

.cards-software.image-70-30 .cards-card-body {
  padding: 78px 37px 37px 39px;
}

.cards-software.image-70-30 li:nth-of-type(1) .cards-card-body {
  width: 50%;
}

.cards-software.image-70-30 li:nth-of-type(2) .cards-card-body {
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .cards-software.image-70-30 li:nth-of-type(1) .cards-card-body {
    width: 100%;
  }
}

/***************************************************************
* h3, a, p
***************************************************************/
.cards-software.image-70-30 li:nth-of-type(2) .cards-card-body h3 {
  font-family: var(--ff-myradpro-regular);
  font-size: var(--heading-font-size-xl);
  margin: 5px 0;
  font-weight: 400;
}

.cards-software p {
  font-size: var(--body-font-size-l);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  margin: 5px 0;
}

.cards-software .cards-card-body a {
  display: inline;
  position: relative;
  padding: 0;
  border: none;
  font-size: var(--body-font-size-l);
  line-height: var(--line-height-15);
  font-family: var(--ff-myradpro-semibold);
  letter-spacing: var(--letter-spacing-8);
  background-color: transparent;
  transition: all 0.3s linear 0s;
}

.cards-software .cards-card-body:hover a {
  text-decoration: underline;
}

.cards-software.image-70-30 .cards-card-body a {
  color: #f77f00 !important;
}

.cards-software.bottom-image li:nth-of-type(1) .cards-card-body a {
  color: #78be20 !important;
}

.cards-software.bottom-image li:nth-of-type(2) .cards-card-body a {
  color: #871054 !important;
}

.cards-software .cards-card-body a::after {
  content: "";
  background: url("/icons/icon-right-arrow.svg") bottom right/contain no-repeat;
  display: inline-block;
  margin-left: 3px;
  height: 0.6em !important;
  width: 7px !important;
  transform: translateY(0);
  position: static !important;
  box-sizing: border-box;
}

.cards-software.bottom-image li:nth-of-type(1) .cards-card-body a::after {
  background: url("/icons/icon-right-arrow-green.svg") bottom right/contain no-repeat;
}

.cards-software.bottom-image li:nth-of-type(2) .cards-card-body a::after {
  background: url("/icons/icon-right-arrow-red.svg") bottom right/contain no-repeat;
}

/***************************************************************
* cards-card-image
***************************************************************/
.cards-software .cards-card-image {
  line-height: 0;
}

.cards-software.bottom-image .cards-card-image img {
  width: 100%;
}

.cards-software.image-70-30 .cards-card-image {
  width: 50%;
}

.cards-software.image-70-30 .cards-card-image img {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .cards-software.image-70-30 .cards-card-image {
    height: 79px;
    position: relative;
    left: -8%;
    width: 124%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: start;
    overflow: hidden;
    border-radius: 50% 50% 0 0;
  }

  .cards-software.image-70-30 .cards-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: -6.5%;
    max-width: 100%;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}

.cards-software.bottom-image .cards-card-body img {
  width: 270px;
}

.cards-software.image-70-30 li:nth-of-type(1) .cards-card-body img {
  width: 245px;
}

.cards-software.image-70-30 li:nth-of-type(2) .cards-card-body img {
  width: 123px;
}
