/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'MyriadPro-Semibold Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
}

@font-face {
  font-family: 'MyriadPro-Regular Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
}

:root {
  /* nav height */
  --nav-height: 51px;

  /* fonts */
  --ff-myradpro-regular: "MyriadPro-Regular", "MyriadPro-Regular Fallback", sans-serif;
  --ff-myradpro-semibold: "MyriadPro-Semibold", "MyriadPro-Semibold Fallback", sans-serif;
  --heading-font-family: var(--ff-myradpro-semibold);
  --body-font-family: var(--ff-myradpro-regular);

  /* colors */
  --clr-blue: #0070c0;
  --clr-white: #fff;
  --clr-orange: #f77f00;
  --clr-green: #78be20;
  --clr-purple: #871054;
  --text-color: #54565b;
  --color-text: #002f6d;
  --link-color: #002f6d;
  --link-hover-color: #0070c0;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --primary-button-color: #0070c0;
  --primary-button-hover-color: #0070c0;
  --primary-button-bg-color: #fff;
  --secondary-button-color: #002f6d;
  --secondary-button-hover-color: #264E83;
  --secondary-button-bg-color: #002f6d;
  --color-border: #ebebeb;
  --button-green: #005800;
  --button-red: #bf0711;
  --button-hover-orange: #d45500;

  /* gradients */
  --linear-gradient: linear-gradient(to left, #871054, #78be20 53%, #f77f00 100%);

  /* sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 42px;
  --heading-font-size-x: 34px;
  --heading-font-size-l: 30px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;
  --body-font-size-xxl: 24px;
  --body-font-size-xl: 22px;
  --body-font-size-l: 20px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 13.008px;

  /* line height */
  --line-height-1: 1;
  --line-height-12: 1.2;
  --line-height-13: 1.3;
  --line-height-14: 1.4;
  --line-height-15: 1.5;
  --line-height-16: 1.6;
  --line-height-18: 1.8;

  /* letter spacing */
  --letter-spacing-normal: normal;
  --letter-spacing-1: 0.1px;
  --letter-spacing-12: 0.12px;
  --letter-spacing-18: 0.18px;
  --letter-spacing-2: 0.20px;
  --letter-spacing-3: 0.30px;
  --letter-spacing-34: 0.34px;
  --letter-spacing-53: 0.53px;
  --letter-spacing-64: 0.64px;
  --letter-spacing-72: 0.72px;
  --letter-spacing-8: 0.8px;
  --letter-spacing-96: 0.96px;
}

header {
  height: var(--nav-height);
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: var(--line-height-16);
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-12);
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-m);
  color: var(--color-text)
}

h2 {
  font-size: var(--heading-font-size-m);
  font-family: var(--ff-myradpro-regular);
}

h3 {font-size: var(--heading-font-size-m)}
h4 {font-size: var(--heading-font-size-m)}
h5 {font-size: var(--heading-font-size-s)}
h6 {font-size: var(--heading-font-size-xs)}


p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  font-family: var(--body-font-family);
  color: var(--text-color);
  line-height: var(--line-height-14);
  letter-spacing: var(--letter-spacing-2);
  font-style: normal;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button.primary,
button.primary {
  color: var(--primary-button-color);
  background-color: var(--background-color);
  border: solid 2.5px var(--primary-button-color);
  border-radius: 8px;
}

main .section.button-hover-orange .button:hover {
  background-color: var(--button-hover-orange);
}

a.button.primary:hover,
a.button.primary:focus,
button.primary:hover,
button.primary:focus {
  background-color: var(--primary-button-hover-color);
  color: var(--background-color);
  cursor: pointer;
}

a.button.secondary,
button.secondary {
  color: var(--background-color);
  background-color: var(--secondary-button-bg-color);
  border: 2px solid transparent;
}

a.button.secondary:hover,
a.button.secondary:focus,
button.secondary:hover,
button.secondary:focus {
  background-color: var(--secondary-button-hover-color);
  cursor: pointer;
}

a.button:any-link,
button {
  font-family: var(--ff-myradpro-semibold);
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: var(--font-weight-400);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10.6px;
  transition: all 0.3s linear 0s;
  -webkit-font-smoothing: antialiased;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

.no-button-decoration .button {
  border: none !important;
}

button.action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.15rem 0;
  padding: 0.10rem 0.6rem;
  min-height: 1.5rem;
  min-width: 3.6rem;
  border-radius: 0.3rem;
  color: #0070c0;
  background: transparent;
  border: 1px solid #8c9196;
  border-color: #0070c0;
  box-shadow: 0 0 0 0.05rem #0070c0;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6rem;
  text-transform: initial;
  letter-spacing: initial;
}

button.action:hover {
  color: var(--primary-button-color);
  background: rgba(246 246 247 / 100%);
  outline: 0.1rem solid transparent;
}

button.action::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-color: var(--primary-button-color);
  opacity: 0;
  z-index: 0;
}

button.action.important,
button.action.important:hover {
  color: var(--button-red);
  border-color: var(--button-red);
  box-shadow: 0 0 0 0.05rem var(--button-red);
}

button.action.important::before {
  background-color: var(--button-red);
}

button.action.secondary {
  color: rgb(32 34 35);
  background-color: transparent;
  border-color: rgb(32 34 35);
  box-shadow: 0 0 0 0.05rem rgb(32 34 35);
  outline: 0.05rem solid transparent;
}

button.action.secondary:hover {
  background-color: rgba(246 246 247 );
}

button.action.secondary:active {
  background: rgba(241 242 243);
}

button.action.secondary::before {
  background-color: #FFF;
  opacity: .05;
}

button.action.activate {
  color: var(--button-green);
  background-color: transparent;
  border-color: var(--button-green);
  box-shadow: 0 0 0 0.05rem var(--button-green);
  outline: 0.05rem solid transparent;
}

button.action.activate:hover {
  background-color: rgba(246 246 247);
}

button.action.activate:active {
  background: rgba(241 242 243);
}

button.action.activate::before {
  background-color: var(--button-green);
  opacity: .05;
}

button.action:hover::before,
button.action:active::before {
  opacity: .05;
}

button.action:focus-visible {
  outline: none;
}

button.disable {
  opacity: .4;
}

button.disable:hover {
  background: none;
  cursor: default;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section>div {
  margin: 0 auto;
  width: calc(100vw - 40px);
  
  /* padding: 20px 0 ; */
}

main .default-content-wrapper img {
  border-radius: 16px;
}


main ol {
  margin-left: 16px;
  padding-left: unset;
}

main li {
  line-height: 1.5;
}

/* stylelint-disable-next-line no-descending-specificity */
main li>a {
  padding-left: 5px;
}

main .default-content-wrapper li>a {
  color: var(--clr-blue);
}

main .category{
  width: var(--section-width);
  margin: 0 auto;
  font-family: var(--ff-myradpro-semibold);
  font-size: 18px;
  line-height: var(--line-height-14);
  letter-spacing: var(--letter-spacing-64);
  color: var(--clr-blue);
  margin-top : 28px !important;
  display: block;
}

main .section.center-aligned {
  text-align: center;
  margin: 0 auto;
}

main .section.h2-center-aligned .default-content-wrapper h2 {
  text-align: center;
}

main .section.h3-center-aligned .default-content-wrapper h3 {
  text-align: center;
}

main .section.title-font-42 h2{
  font-size: var(--heading-font-size-xl);
  margin-bottom: 0;
  
}



main .section.center-aligned .default-content-wrapper>p {
  margin: 0 auto;
  text-align: center;

  /* font-size: var(--body-font-size-xxl);
  line-height: 36px; */
  max-width: 700px;
}


main .section.larger-paragraph-text p {
  max-width: 690px;
  font-size: var(--body-font-size-xxl);
  font-family: var(--ff-myradpro-regular);
  display: flex;
}

main .center-aligned-buttons .default-content-wrapper p.button-container {
  text-align: center;
}

main .section.background-blue {
  background-color: var(--clr-blue);
}

main .section.background-blue .default-content-wrapper p{
  color:var(--clr-white);
}

main .section.background-gray {
  background-color: #fafafa;
}

main .section.background-orange {
  background-color: var(--clr-orange);
  padding: 78px 0 67px;
}

main .section.background-green {
  background-color: var(--clr-green);
  padding: 78px 0 67px;
}

main .section.spacing-60 {
  padding: 60px 0;
}

main .section.spacing-30 {
  padding: 30px 0;
}


main .section.curved-top {
  border-top-right-radius: 100% 15%;
  border-top-left-radius: 100% 15%;
}

main .section.fixed-width {
  width: var(--section-width);
}

/* Themes */

body.orange main a:any-link:not(.button) {
  color: var(--clr-orange);
}

body.green main a:any-link:not(.button)  {
  color: var(--clr-green);
}

body.purple main a:any-link:not(.button)  {
  color: var(--clr-purple);
}

/* Section Layouts */
main .section-wrapper.layout-75-25,
main .section-wrapper.layout-25-75,
main .section-wrapper.layout-50-50 {
  width: var(--section-width);
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  padding: 20px;
}

main .section-wrapper.layout-75-25 > div,
main .section-wrapper.layout-25-75 > div,
main .section-wrapper.layout-50-50 > div {
  width: 100%;
  padding:unset;
}

main .divider {
  display: block;
  width: auto;
  margin: 20px 0;
  border: 1px solid var(--color-border);
  padding: unset
}


main .video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgb(0,0,0,70%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .video-wrap {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

main .video-close {
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 0;
  width: 16px;
  height: 16px;
  background: url('../icons/icon-close-white.png') center/16px no-repeat;
}

main .video-wrap iframe {
  width: calc(100vw - 60px);
  height: calc((100vw - 60px) * 0.605);
}

.ot-sdk-container{
  width: 100vw !important;
  margin: unset!important;
}


/* Table Container - Table */
.table-container {
  overflow-x: auto;
  background-color: rgba(255 255 255 );
  box-shadow: 0 0 5px #1718120D, 0 1px 2px #00000026, 0 0 0 1px #3F3F440D, 0 1px 3px 0 #3F3F4426;
  outline: 0.1rem solid transparent;
  border-radius: 0 0 8px 8px;
}

.table-container table {
  margin-bottom: 0;
  font-size: 14px;
  font-family: var(--ff-myradpro-regular);
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: var(--clr-white);
  box-shadow: 0 0 5px #1718180D, 0 1px 2px #00000026;
  outline: 0.1rem solid transparent;
}

.table-container.rounded-corners table {
  border-radius: 0.8rem 3px;
}

.table-container table th,
.table-container table td {
  border: 1px solid var(--color-border);
}

.table-container table th {
  padding: .45rem 0.7rem;
  font-weight: bold;
  font-family: var(--ff-myradpro-semibold);
  font-size: 16px;
  vertical-align: top;
  border-bottom: 0.05rem solid #8c9196;
  border-top: 0;
  max-height: 40px;
  text-align: left;
  white-space: normal;
}

.table-container table thead button {
  font-family: var(--ff-myradpro-semibold);
  font-size: 16px;
  color: #54565b;
  appearance: none;
  margin: 0;
  padding: 0 20px 0 0;
  background: none;
  border: none;
  line-height: inherit;
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  transition: color .2s cubic-bezier(.64,0,.35,1);
  cursor: pointer;
}

.table-container table thead button:focus {
  color: #0070c0;
  outline: none;
}

.table-container table thead button::after {
  content: "";
  position: absolute;
  top: 55%;
  right: 5px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #54565b;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 0;
}

.table-container table thead button:focus::after {
  border-top: 5px solid #1f5199;
}

.table-container table thead button::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: -0.1rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.1rem #458fff;
  transition: box-shadow .1s cubic-bezier(0.4, 0.22, 0.28, 1);
  border-radius: calc(0.4rem + 0.1rem);
}

.table-container table thead button:focus:not(:active)::before {
  box-shadow: 0 0 0 -0.1rem #458fff;
  outline: 0.1rem solid transparent;
}

.table-container table thead tr {
  background: #f6f6f7;
}

.table-container table tbody tr:hover td {
  background: #f6f6f7;
}

.table-container table tbody td {
  padding: .45rem;
  vertical-align: top;
  white-space: nowrap;
  text-align: left;
  transition: background-color .2s ease-in-out;
}

.table-container table tbody td.label-bold {
  font-weight: bold;
  font-family: var(--ff-myradpro-semibold);
  font-size: 16px;
  color: #54565b;
}

.table-container table tbody td.label-capitalize {
  text-transform: capitalize;
}

.table-container table tbody td > a {
  font-size: 16px;
  font-family: var(--ff-myradpro-semibold);
  color: #0070c0;
}

.table-container table tbody td > a:hover {
  text-decoration: underline;
}

.table-container table tbody td > input.add-user-checkbox {
  font-size: 1.25rem;
  width: 16px;
  height: 16px;
  max-width: 5rem;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}


/* Modal Container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  text-align: center;
  border-radius: 8px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 10px 20px;
  border-bottom: 0.1rem solid rgba(225 227 229);
}

.modal-header > button.modal-close {
  display: flex;
  cursor: pointer;
  position: relative;
  margin: 5px -5px 0 0;
  padding: 0.5rem;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background: none;
  border: none;
}

.modal-header > button.modal-close:hover {
  background: rgba(246 246 247 / 100%);
}

.modal-header > button.modal-close svg {
  fill: rgba(92 95 98 / 100%);
}

.modal-header > button.modal-close:hover svg {
  fill: rgba(26 28 29 / 100%);
}

.modal-header h3 {
  margin: 0.3em 0;
  font-size: 20px;
  line-height: 2.8rem;
  font-family: var(--ff-myradpro-regular);
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #54565b;
  text-transform: none;
  text-align: left;
}

.modal-body {
  padding: 0 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 40px 20px 20px;
  border-top: 0.1rem solid rgba(225 227 229);
}

.modal-footer > button {
  margin: 0 8px;
}


/* Mobile */
@media only screen and (min-width: 480px) {
  :root {
    --section-width: 440px;
  }

  main .section>div {
    width: var(--section-width);
  }

  main.profile-page .section>div {
    max-width: var(--nav-width);
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
  }

  h1 {font-size: var(--heading-font-size-l)}

  h2,h3 {font-size: var(--heading-font-size-m)}

  h4,h5 {font-size: var(--heading-font-size-s)}

  p {font-size: var(--body-font-size-m);}

  .title2-34 h2 {
    font-size: var(--heading-font-size-m);
    padding-left: 2em;
  }
}


/* Tablet */
@media only screen and (min-width: 768px) {
  :root {
    --section-width: 738px;
    --nav-height: 93px;
  }

  main .section>div {
    padding: 10px 0;
  }

  main .section.title-font-34 h2,
  main .section.subtitle-font-34 h3{
    font-size: var(--heading-font-size-x);
    font-family: var(--ff-myradpro-regular);
    margin-bottom: 0;
  }

  h1 {font-size: var(--heading-font-size-xl)}
  h2 {font-size: var(--heading-font-size-l)}
  h3 {font-size: var(--heading-font-size-l)}
  h4,h5 {font-size: var(--heading-font-size-s)}

  p,
  body,
  a.button:any-link,
  button {
    font-size: var(--body-font-size-m);
  }

  a.button:any-link,
  button {
    border-radius: 12px;
  }

  main .section.curved-top {
    border-top-right-radius: 50% 20%;
    border-top-left-radius: 50% 20%;
  }

  main .category{
    margin-top:56px;
  }

  main .video-wrap iframe {
    width: 620px;
    height: 375px;
  }

  main .section.training > .default-content-wrapper h2 {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 75px;
  }


  main .section.training .cards-card-body h3,
  main .section.training .cards-card-body p {
    text-align: left;
  }

}

/* Desktop */
@media only screen and (min-width: 1030px) {
  :root {
    --nav-height: 118px;
    --section-width: 960px;
    --nav-width: 1240px;
  }

  h1 {font-size: var(--heading-font-size-xxl)}
  h2 {font-size: var(--heading-font-size-xl)}
  h3 {font-size: var(--heading-font-size-l)}
  h4 {font-size: var(--heading-font-size-m)}
  h5 {font-size: var(--heading-font-size-s)}

  p,
  body,
  a.button:any-link,
  button {
    font-size: var(--body-font-size-l);
  }

  a.button:any-link,
  button {
    border-radius: 12px;
  }

  .title2-34 h2 {
    font-size: var(--heading-font-size-x);
    padding-left: 2em;
    padding-top: 1em;
  }

  /* Section Layouts */
  main .section-wrapper.layout-75-25,
  main .section-wrapper.layout-25-75,
  main .section-wrapper.layout-50-50,
  main .layout-50-50,
  main .layout-33-33-33 {
    width: var(--section-width);
    display: grid;
    grid-auto-flow: column;
    margin: 0 auto;
    padding: 20px;
    grid-gap: 20px;

  }

  main .section-wrapper.layout-75-25 {
    grid-template-columns: 75% 25%;
  }

  main .section-wrapper.layout-25-75 {
    grid-template-columns: 25% 75%;
  }

  main .section-wrapper.layout-50-50,
  main .layout-50-50 {
    grid-template-columns: 50% 50%;
  }

  main .layout-33-33-33 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main.profile-page .layout-33-33-33 {
    width: auto;
  }

  .snackbar {
    visibility: visible;
    min-width: 250px;
    width: 26em;
    margin-left: -14em;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
  }

  .snackbar.error {
    background-color: rgba(253 87 73 / 100%);
    font-size: 20px;
  }

  /* CSS animation for the snackbar */
  .snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

}

 /* CSS animation for the loading icon */
.loading-icon {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

span.loading-icon {
  margin: 5px auto;
  width: 15px;
  height: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* CSS sorting table */
.sort-indicator {
  display: inline-block;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #888 transparent transparent;
  transition: transform 0.3s ease-in-out;
}

.sort-asc.sort-indicator {
  transform: rotate(180deg);
}

.sort-desc.sort-indicator {
  transform: rotate(0deg);
}